<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SIGO - Sistema Integrado de Gestão e Operação</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>

	<main class="container">
		<div th:if="${errorMessage}" th:utext="${errorMessage}" class="alert alert-danger" role="alert" />
		<div th:if="${alertMessage}" th:utext="${alertMessage}" class="alert alert-warning" role="alert" />
		<div th:if="${successMessage}" th:utext="${successMessage}" class="alert alert-success" role="alert" />

		<div class="row ">
			<div class="col-12">
            	<h2>Consulta de Contratos</h2>
            </div>   
		</div>
       	<div class="row  row-content">
            <div class="col-12">
				<div class="table-responsive-lg" th:if="${not #lists.isEmpty(contratos)}">

					<table class="table table-striped ">
	 						<thead>
							<tr>
								<th scope="col">Identificação</th>
								<th scope="col">Consultoria</th>
								<th scope="col">Normas</th>
								<th scope="col">Ações</th>
							</tr>
	 						</thead>
	 						<tbody>
							<tr th:each="contrato : ${contratos}">
								<td th:text="${contrato.idContratoExterno}" />
								<td th:text="${contrato.consultoria}" />
								<td th:text="${contrato.normasFormatado}" />
					            <td>
					            	<a th:href="@{/gestao-contratos/visualizar/(id=${contrato.id})}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Visualizar os dados do Contrato"><i class="far fa-eye"></i></a>	
					            	<a th:if="${ contrato.consultoria == null}" th:href="@{/gestao-contratos/associar/(id=${contrato.id})}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Associar o Contrato"><i class="far fa-file-alt"></i></a>
					            	<a th:if="${ contrato.consultoria != null}" th:href="@{/gestao-contratos/associar/(id=${contrato.id})}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Alterar as associações do Contrato"><i class="fas fa-edit"></i></a>					            	 
					            </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>            
		</div>

	</main>

	<div th:replace="fragments/general.html :: footer"></div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>