<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SIGO - Sistema Integrado de Gestão e Operação</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<header th:insert="fragments/general.html :: header"> </header>

	<main role="main" class="container">
		<h1>Cadastro de Norma</h1>

		<form action="#" th:action="@{/update/{id}(id=${user.id})}"
			th:object="${user}" method="post">
			<label for="name">Name</label> <input type="text" th:field="*{name}"
				id="name" placeholder="Name"> <span
				th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <label
				for="email">Email</label> <input type="text" th:field="*{email}"
				id="email" placeholder="Email"> <span
				th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span> <input
				type="submit" value="Update User">
		</form>

	</main>

	<div th:replace="fragments/general.html :: footer"></div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>