<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SIGO - Sistema Integrado de Gestão e Operação</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<header th:insert="fragments/general.html :: header"> </header>

	<main class="container">
		<div th:if="${errorMessage}" th:utext="${errorMessage}" class="alert alert-danger" role="alert" />
		<div th:if="${alertMessage}" th:utext="${alertMessage}" class="alert alert-warning" role="alert" />
		<div th:if="${successMessage}" th:utext="${successMessage}" class="alert alert-success" role="alert" />
	        
	        
	    <div class="row">
            <div class="col-12">
            	<h2>Cadastro de Consultorias e Assessorias</h2>
            </div>   
		</div>
       	<div class="row  row-content">
            <div class="col-12 ">
            	<form action="#" th:object="${consultoria}" >                        
                                                   
                    <div class="form-group row">
                    	<span class="col-md-2">Nome</span>
						<span class="col-md-10" th:text="*{nome}"></span>
                    </div>                        
                    <div class="form-group row">
                    	<span class="col-md-2">Área</span>
						<span class="col-md-10" th:text="*{area}"></span>
                    </div>          

                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                           <a th:href="@{/gestao-consultorias/}" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"> Voltar</i></a>
                            
                        </div>
                    </div>
                 </form>             
	        
            </div>
        </div>

	</main>

	<div th:replace="fragments/general.html :: footer"></div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>