<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SIGO - Sistema Integrado de Gestão e Operação</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"></header>
	
	<main class="container">
   		<div class="row row-content">
           	<div class="col-12">
           		<h3>Olá!</h3>
           		
				<h1 th:utext="${nomeUsuario}"></h1>
				<h2 th:utext="${mensagens}" ></h2>
           	</div>
        </div>    
	</main>
	
    <footer th:insert="fragments/general.html :: footer"></footer>
    
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>